body {
  font-family: 'Open Sans', sans-serif;
}

#app {
  padding-top: 3.25rem;
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: $secondary !important;
}
